In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("a.csv")

In [3]:
display(df)

NameError: name 'df' is not defined

In [2]:
df_ = pd.DataFrame([ [7,8,9] ])

In [3]:
display(df_)

   0  1  2
0  7  8  9

In [4]:
display(df_)

   0  1  2
0  7  8  9

In [5]:
display(df_)

   0  1  2
0  7  8  9

In [6]:
display(df_)

   0  1  2
0  7  8  9

In [7]:
a=1