In [2]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("a.csv")

In [3]:
display(df)

   ID1  ID2  ID3
0    1    2    3
1    4    5    6

In [4]:
df_ = pd.DataFrame([ [7,8,9] ])

In [5]:
display(df_)

   0  1  2
0  7  8  9

In [3]:
df_ = pd.DataFrame([ [7,8,10] ])